<!DOCTYPE html>
<html lang="en">
  <head>
   
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-logo">
        <img src="/static/images/Logoooo.jpg" alt="Logo" class="logo-img" />
      </div>
      <div class="nav-links">
        <a href="home.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="filter.html">Filter</a>
        <a href="info.html">Info</a>
        <a href="save.html" id="saveBtn" style="display: none">Saved</a>
        <a href="#" id="logoutBtn" style="display: none">Logout</a>
      </div>
    </nav>
    <div class="full-page">
      <h1>Find the Perfect Car for You</h1>
    </div>
    <script src="/modals.js"></script>
  </body>
</html>
